html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*overflow: hidden; */
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
}
body {
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	color:#000;
	min-width:640px;
	height: auto;	/* per i browser moderni */
	height: 1000px;	/* per IE5.x e IE6 */
	min-height: 1000px;
	position:relative;
}
img { border:0 }

.Stile1 {
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
}
form {
	width: 640px;
	height: 960px;
	background-image: url('../images/bg.jpg');
}
label {
	width: 310px;
	font: 20px normal Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
}
input {
	border: none;
	background: url('../images/invia.png') no-repeat;
	width: 117px;
	height: 36px;
	font: 18px normal Verdana, Arial, Helvetica, sans-serif;
}
.nome {
	border: none;
	background: url('../images/nome.png') no-repeat;
	width: 250px;
	height: 42px;
	padding-left: 26px;
	padding-right: 6px;
	margin-right: 10px;
}
.telefono {
	border: none;
	background: url('../images/telefono.png') no-repeat;
	width: 250px;
	height: 42px;
	padding-left: 26px;
	padding-right: 6px;
	margin-right: 10px;
}
.email {
	border: none;
	background: url('../images/email.png') no-repeat;
	width: 250px;
	height: 42px;
	padding-left: 26px;
	padding-right: 6px;
	margin-right: 10px;
}
.interesse {
	width: 15px;
	height: 15px;
	font: 15px normal Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
	background: none;
}
fieldset {
	border: none;
}
textarea {
	border: none;
	width: 536px;
	height: 217px;
	background: url('../images/commenti.png') no-repeat;
	overflow: hidden;
	padding-left: 40px;
	padding-top: 6px;
	padding-right: 4px;
	font: 18px normal Verdana, Arial, Helvetica, sans-serif;
}

#loader {
	z-index:1000;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	background:#000;
	opacity:0.45;
	-moz-opacity:0.45;
	filter:alpha(opacity=45);
	visibility:hidden;
}

#loader img {
position: absolute;
top: 50%;
left: 50%;
}

#user-details {
	width: 600px;
	height: 840px;
	padding-top: 20px;
	padding-left: 20px;
}
