body {
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	color:#000;
	width:640px;
	height: 960px;
	position:relative;
}

.Stile1 {
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
}
form {
	width: 640px;
	/* height: 960px; */
	background-image: url('../images/bg.jpg');
}

label {
	width: 310px;
	font: 20px normal Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
}

textarea {
	border: none;
	width: 536px;
	height: 217px;
	background: url('../images/commenti.png') no-repeat;
	overflow: hidden;
	padding-left: 40px;
	padding-top: 6px;
	padding-right: 4px;
	font: 18px normal Verdana, Arial, Helvetica, sans-serif;
}

#user-details {
	width: 600px;
	height: 840px;
	padding-top: 20px;
	padding-left: 20px;
}
