/*
body {
	font: 14px normal Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	color:#000;
	width:320px;
	height: 1040px;
	position:relative;
}
*/
.liberatoria {
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
	color: #000066;
	/*margin-left: -15px;*/
}
form {
	width: 300px;
	background-image: url('../images/bg-320.png');
	padding-left: 20px;
	padding-bottom: 20px;
}

label {
	width: 310px;
	font: 18px normal Verdana, Arial, Helvetica, sans-serif;
	color:#000066;
	/*text-shadow: 2px 2px 1px #000;	*/
}

textarea {
	border: none;
	width: 265px;
	height: 160px;
	background: url('../images/commenti-320.png') no-repeat;
	overflow: hidden;
	padding-left: 35px;
	padding-top: 6px;
	padding-right: 4px;
	margin-left: -10px;
	font: 16px normal Verdana, Arial, Helvetica, sans-serif;
}

#tutto320 {
	width: 100%;
	height: 700px;
	/*
	background: url('../images/bg-320.png') no-repeat no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	*/
}

#risultato320 {
	width: 100%;
	height: 100%;
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: url('../images/bg-320.png') no-repeat no-repeat center center fixed;
/*
	background: url('../images/bg-320.png') no-repeat no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}

#form320 {
	text-align:center;
	color:#000066;
	font-size: 16px;
	/*text-shadow: 2px 2px 1px #000;*/
	padding-bottom: 10px;
	padding-left:2px;
	padding-right:2px;
	background-color:#00ADE5;
}

#user-details {
	width: 310px;
	height: 920px;
	padding-top: 10px;
	padding-right: 0px;
}
